body,
input,
select,
textarea,
button,
a {
  font-weight: 400;
  font-family: "NanumSquareNeo", sans-serif;
  color: #1d1d1f;
  word-break: keep-all;
  word-wrap: break-word;
  -ms-word-break: keep-all;
  -ms-word-wrap: break-word;
}

a,
button {
  color: var(--default);
}

.skip {
  height: 0;
}

.skip a {
  display: block;
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 25px;
  text-align: center;
}

.skip a:focus,
#skip a:active {
  position: absolute;
  top: 0;
  z-index: 100;
  padding: 10px 0;
  background: #000;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.is-scroll-lock {
  overflow: hidden;
  height: 100%;
}

.blind,
caption,
caption span,
legend {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 0;
  text-indent: -9999px;
  white-space: nowrap;
}
