@charset "UTF-8";
@import url(reset.css);
@import url(font.css);
@import url(variables.css);
@import url(common.css);

/* .main-content */
.container{
  padding-top: 70px;
  padding-bottom: 160px;
}
.navercorp.main .main-content__inner {
  display: flex;
  position: relative;
  max-width: 1900px;
  margin:0 auto; /*정렬은 크기가 제한이 있어야 적용이 됩니다.*/
}
.navercorp.main .cont__area{
  flex:1;
}
.navercorp.main .cont__list{
}

/****************
*.cont__summary *
*****************/
/* 10.23 추가 */
.navercorp.main .cont-summary {
  padding: 150px 60px 80px;
}
.navercorp.main .cont-summary .cont__list{
   display: grid;
   gap:20px;
   grid-template-rows: 505px 155px;
   grid-template-columns: 40.068% 1fr 1fr;
}

.navercorp.main .cont-summary .cont__area.type-b .cont__list{
  grid-template-rows: 394px 187px 187px;
  grid-template-columns: repeat(4, 1fr);
}

.navercorp.main .cont-summary  .cont__item{
  position: relative;
  background-color: var(--mainBg);
  transition: background 0.3s;
}

.navercorp.main .cont-summary .cont__area.type-b .media{
  display: none;
}
.navercorp.main .cont-summary .cont__area.type-b .news{
  order:1;
  grid-column: 1/3;
  grid-row: 1/4;
}
.navercorp.main .cont-summary .cont__area.type-b .story{
  order:2;
  grid-column: 3/5; 
  grid-row: 1/2;
}
.navercorp.main .cont-summary .cont__area.type-b .ad{
  order:3;
}
.navercorp.main .cont-summary .cont__area.type-b .recruit{
  order:5;
}
.navercorp.main .cont-summary .cont__area.type-b .stock{
  order:6;
}
.navercorp.main .cont-summary .cont__area.type-b .ir{
  order:4;
}

.navercorp.main .cont__link{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navercorp.main .cont-summary .cont__link{
  padding: 16px 40px 16px 16px;
  justify-content: space-between;
  color: #fff;
}


.navercorp.main .cont-summary .thumb-box{
  overflow: hidden;
  position: absolute;
  left:0; top:0;
  width: 100%; height: 100%;
}
.navercorp.main .cont-summary .thumb-box .thumbnail{
  width: 100%; height: 100%;
  background: no-repeat center;
  background-size: cover;
  transition: transform 0.3s;
}
.navercorp.main .cont-summary .cont__item:hover .thumb-box .thumbnail{
  transform: scale(1.05);
}
.navercorp.main .cont-summary .news .thumb-box .thumbnail{
  background-image: url(../img/사진_8일_경기도_성남시에_위치한_네이버_1784를_방문한_파이살_빈_아야.jpg);
}
.navercorp.main .cont-summary .story .thumb-box .thumbnail{
  background-image: url(../img/공통_썸네일-이미지-.png);
}
.navercorp.main .cont-summary .ad .thumb-box .thumbnail{
  background-image: url(../img/CHZZK_low.gif);
}

.navercorp.main .cont-summary .news .thumb-box{
  height: 470px;
  position: relative;
}

.navercorp.main .cont-summary .cont__item .text-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navercorp.main .cont-summary .cont__item .text-wrap{
  z-index:10;
}

.navercorp.main .cont-summary .cont__item .head, 
.navercorp.main .cont-summary .cont__item .category, 
.navercorp.main .cont-summary .cont__item .title {
  display: block;
}

.navercorp.main .cont-summary .cont__item .head, 
.navercorp.main .cont-summary .cont__item .category{
  z-index: 10;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.3px;
}
.navercorp.main .cont-summary .cont__item .title {
  z-index: 10;
  font-size: 22px;
  font-weight: 800;
  line-height: 34px;
  letter-spacing: -0.6px;
}
.navercorp.main .cont-summary .cont__item .outlink{
  position: absolute;
  right: 16px; bottom: 16px;
  transition: all 0.3s;
}
.navercorp.main .cont-summary .cont__item .outlink::after{
  content: "";
  display: block;
  width: 24px; height: 24px;
  background: var(--ic-outlink-circle) no-repeat center;
  background-size: contain;
}

.navercorp.main .cont-summary .news .cont__link{
  padding:0;
  transition: all 0.3s;
}

.navercorp.main .cont-summary .news .cont__link:hover{
  color:#ff5f00;
}
.navercorp.main .cont-summary .news .thumb-box{
  position: relative;
  height: 479px;
}

.navercorp.main .cont-summary .news .text-box{
  flex:1;
  padding: 16px 40px 16px 16px;
  background-color: var(--newslistBg);
}

.navercorp.main .cont-summary .news .title{
  /* 여러줄 말줄임 ... 표시시작 */
  display: block;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  /* 여러줄 말줄임 ... 표시끝 */
  margin-top: 20px;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1px;
}
.navercorp.main .cont-summary .news .date{
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.3px;
  color:#86868b;
}

.navercorp.main .cont-summary .cont__item.news:hover .outlink::after{
  background: url(../img/common/ic-outlink-circle-black-hover.png) no-repeat center;
  background-size: contain;
}
.navercorp.main .cont-summary .story .title{
  display: block;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  font-size: 26px;
  line-height: 38px;
  letter-spacing: -0.8px;
  margin-top: 10px;
}

/* li.cont__item.recruit */
.navercorp.main .cont-summary .recruit{
  background-color: #022be9;
}
.navercorp.main .cont-summary .recruit:hover{
  background-color: #ff5f00;
}

/* .stock */
/* .navercorp.main .cont-summary {
  background-color: #ccc;
} */
/* .navercorp.main .cont-summary .cont__item{} */

.navercorp.main .cont-summary .stock a.cont__link{
  padding:16px;
  color:#1d1d1d;
   /* display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100%;  */
   /*★★★자식의 높이가 부모의 높이를 따르기위해★★*/
}
.navercorp.main .cont-summary .stock .head{
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.3px;
}
.navercorp.main .cont-summary .stock div.text-wrap{

}
.navercorp.main .cont-summary .stock .num-info{
  display: block;
  line-height: 26px;
  font-size: 12px;
  font-weight: 700;
}
.navercorp.main .cont-summary .stock .num-info.up::before{
  content: "▲";
  color:#ff2c2c
}
.navercorp.main .cont-summary .stock .num-info.down::before{
  content: "▼";
  color:#4078ff;
}

.navercorp.main .cont-summary .stock .count{
font-size: 38px;
font-weight: 700;
line-height: 54px;
letter-spacing: -1.5px;
color:var(--default);
}

.navercorp.main .cont-summary .stock .num-info::after{
  content: "";
  position: absolute;
  width: 32px; height: 36px;
  right: 20px; bottom: 20px;
  background: no-repeat center;
  background-size: contain;
}
.navercorp.main .cont-summary .stock .num-info.up::after{
  background-image: var(--ic-arrow-primary) ;
}
.navercorp.main .cont-summary .stock .num-info.down::after{
  background-image: var(--ic-arrow-down-hover);
}
.navercorp.main .cont-summary .cont__item.stock:hover .num-info.up::after {
  background-image: var(--ic-arrow-down-hover);
  transform: rotate(180deg);
}
.navercorp.main .cont-summary .stock .num-info.down::after {
  background-image: var(--ic-arrow-primary);
  transform: rotate(180deg);
}

.navercorp.main .cont-summary .cont__item.stock .head,
.navercorp.main .cont-summary .cont__item.stock .title,
.navercorp.main .cont-summary .cont__item.stock .desc,
.navercorp.main .cont-summary .cont__item.ir .head,
.navercorp.main .cont-summary .cont__item.ir .title,
.navercorp.main .cont-summary .cont__item.ir .desc {
  color: var(--default);
  transition: color .3s;
}
.navercorp.main .cont-summary .cont__item.stock:hover .head,
.navercorp.main .cont-summary .cont__item.stock:hover .title,
.navercorp.main .cont-summary .cont__item.stock:hover .desc,
.navercorp.main .cont-summary .cont__item.ir:hover .head,
.navercorp.main .cont-summary .cont__item.ir:hover .title,
.navercorp.main .cont-summary .cont__item.ir:hover .desc {
  color: #ff5f00;
}

.navercorp.main .cont-summary .ir .cont__link{
  color: #1d1d1f;
}
.navercorp.main .cont-summary .ir .title{
  margin-top: 6px;
}
.navercorp.main .cont-summary .cont__item.ir:hover .outlink::after{
  background: url(../img/common/ic-outlink-circle-hover.png) no-repeat center;
  background-size: contain;
}

/* .main-content__title */
.navercorp.main .main-content__title{
  /* flex item */
  flex-shrink: 0;
  position: relative;
  width:340px ;
  z-index: 10;
  font-size: 38px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: -1.5px;
  color:var(--default);
}
.navercorp.main .main-content__title::after{
  content: "";
  display: block;
  width: 53px; height: 46px;
  margin-top: 37px;
  background: var(--ic-title-arrow) no-repeat center;
  background-size: contain;
}
.navercorp.main .main-content__title strong{
  display: block;
}
.navercorp.main .main-content__title .time{
  display: flex;
  margin-top: 20px;
  letter-spacing: 0;
}
/* animation추가 */
.navercorp.main .main-content__title .time .colon{
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

/* .main-content__title의 .btn-arrow 아이콘표시 */
.navercorp.main .main-content__title .btn-arrow{
  position: absolute;
  left:0; bottom:0;
  width: 53px; height: 60px;
  background: var(--ic-arrow-down) no-repeat center;
  background-size: contain;

}
.navercorp.main .main-content__title .btn-arrow:hover{
  background-image: var(--ic-arrow-down-hover);
}
/* 써머리의 공통으로  .main-content__title::after 아이콘표시 제거*/
.navercorp.main .cont-summary .main-content__title::after{
  content: none;
}

/**************
.cont-feature *
**************/
/* 
1. 주요서비스와 기술   
   1600이상 일때는 두줄
   1599 보다 아래 일때는 1줄
    .main-content__title strong br{
    display: none;
}
2. 모바일 일대 swiper-slide가 1.x개 나올 수 있도록
*/
.navercorp.main .cont-feature{
  padding:100px 0 100px 60px;
}
.navercorp.main .cont-feature .cont__area{
  overflow: hidden;
}
.navercorp.main .cont-feature .cont__wrap{
 /* 네비게이션 버튼 클릭 시  오른쪽 끝은 swiper-slide 
 움직이면서 보여야 해요 
 .navercorp.main .main-content__inner {
    max-width: 1900px;
    margin: 0 auto;
}
 .navercorp.main .cont-feature {
    padding: 100px 0 100px 60px;
}
  .navercorp.main .cont-feature .cont__wrap {
  overflow: unset;
}
 */

}
.navercorp.main .cont-feature .cont__list{}
.navercorp.main .cont-feature .cont__item{
  /* 2. 모바일 일대 swiper-slide가 1.x개 나올 수 있도록 */
  width: 340px;
  margin-left:20px;
}
.navercorp.main .cont-feature .cont__item:first-child{
  margin-left:0;
}
.navercorp.main .cont-feature .thumb-box{
  position: relative;
  overflow: hidden;
}
.navercorp.main .cont-feature .thumb-box .thumbnail{
  padding-top: 320px; /*백그라운드이미지의 높이역활*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: transform 0.3s;
}
.navercorp.main .cont-feature .cont__item:nth-child(1) .thumbnail{
  background-image: url(../img/slider1.jpg);
}
.navercorp.main .cont-feature .cont__item:nth-child(2) .thumbnail{
  background-image: url(../img/slider2.png);
}
.navercorp.main .cont-feature .cont__item:nth-child(3) .thumbnail{
  background-image: url(../img/slider3.png);
}
.navercorp.main .cont-feature .cont__item:nth-child(4) .thumbnail{
  background-image: url(../img/slider4.png)
}
.navercorp.main .cont-feature .cont__item:nth-child(5) .thumbnail{
  background-image: url(../img/slider5.png);
}
.navercorp.main .cont-feature .text-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 320px;
  padding: 26px 20px 20px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}
.navercorp.main .cont-feature .cont__item:nth-child(1) .text-box{
  background: #030659;
}
.navercorp.main .cont-feature .cont__item:nth-child(2) .text-box{
  background: #000;
}
.navercorp.main .cont-feature .cont__item:nth-child(3) .text-box{
  background: #9bacba;
}
.navercorp.main .cont-feature .cont__item:nth-child(4) .text-box{
  background: #598de8;
}
.navercorp.main .cont-feature .cont__item:nth-child(5) .text-box{
  background: #8731e3;
}
.navercorp.main .cont-feature .text-box .category{
  display: block;
  font-size: 14px;
}
.navercorp.main .cont-feature .text-box .title{
  display: block;
  margin-top: 42px;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: -0.1px;
}
.navercorp.main .cont-feature .text-box .desc{
  text-transform: none;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.25px;
}
/* swiper 네비게이션 이밎로 변경 */
.navercorp.main .cont-feature .cont__btn .swiper-button-next, 
.navercorp.main .cont-feature .cont__btn .swiper-button-prev{
  /*브라우저가 인식하지만 브라우저에 표시x*/
  /* visibility: hidden; */
  width: 40px;
  height: 40px;
  margin-top: 0;
  background: url(../img/common/swiper-btn.png) no-repeat center;
  background-size: contain;
  transition: all 0.3s;
  pointer-events: auto;
  /* opacity: 0; */
  /* 기분요소의 가운데 위치 */
  top:50%;
  transform: translateY(-50%);
}
.navercorp.main .cont-feature .cont__btn .swiper-button-next{
  right: 0;
  transform: rotate(180deg) translateY(50%);
} 
.navercorp.main .cont-feature .cont__btn .swiper-button-prev{
  left:0;
}
/* swiperr처음이나 끝일때는  네비게이션 표시x */
.navercorp.main .cont-feature .cont__btn .swiper-button-next.swiper-button-disabled, 
.navercorp.main .cont-feature .cont__btn .swiper-button-prev.swiper-button-disabled{
  opacity: 0;
  cursor: auto;/*마우스 포인트는 상황에 맞게 바뀌어라*/
  pointer-events: none;/*해당영역에 클릭 이벤트가 발생해도 실행x*/
}
.navercorp.main .cont-feature .cont__btn .swiper-button-next:hover, 
.navercorp.main .cont-feature .cont__btn .swiper-button-prev:hover{
  background-image: url(../img/common/swiper-btn-hover.png);
}
.navercorp.main .cont-feature .cont__btn .swiper-button-next:after, 
.navercorp.main .cont-feature .cont__btn .swiper-button-prev:after{
  content: none;/*가상선택자 after 무력화*/
}
/* swiper 움직일때 .swiper 영역 벗어난거도 보이게 처리*/ 
.navercorp.main .cont-feature .cont__wrap{
  overflow: unset;
}
/********************** 
*  .cont-shortcut     *
***********************/
/* 
  타이틀, 아이콘 이 양끝정렬
  cont__item hover 타이틀, 아이콘 색상변경, 해당 이미지 가운데 표시
     hover 해당 이미지 표시
            이미지너비 작게-> 정사각형맞는 크기 변경 푯
   out 해당 바로 표시x
*/
.navercorp.main .cont-shortcut{
  padding:60px 60px 0;
}
.navercorp.main .cont-shortcut .cont__item{
  position: relative;
  border-top:1px solid var(--border01);
}
.navercorp.main .cont-shortcut .cont__item:nth-child(1){
  border-top: 0;
}
.navercorp.main .cont-shortcut .cont__link{
  flex-direction: row;
  justify-content:space-between ;
  align-items: center;
  padding: 32px 20px;
}
.navercorp.main .cont-shortcut .cont__item:nth-child(1) .cont__link{
  padding-top: 0;
}
.navercorp.main .cont-shortcut .cont__item .title{
  position: relative;
  font-size: 32px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: -1.26px;
  transition: color 0.3s;
}
.navercorp.main .cont-shortcut .cont__item:hover .title{
  color:#ff5f00;
}
.navercorp.main .cont-shortcut .cont__item .ico-link{ }
.navercorp.main .cont-shortcut .cont__item .ico-link:after{
  content: "";
  display: block;
  width: 30px; height: 30px;
  border-radius: 50%;
  background: var(--color-sub02) url(../img/common/ic-quicklink.png) no-repeat center;
  background-size: contain;
  transition:  background 0.3s;
}
.navercorp.main .cont-shortcut .cont__item .ico-link.outlink:after{
  transform: rotate(-45deg);
}
.navercorp.main .cont-shortcut .cont__item .thumb-box{
    /* visibility: hidden; /*10.23 삭제*/
    /* .thumb-box 크기 밖에 있는 표시x */
    overflow: hidden;/*10.23 수정*/
    position: absolute;
    top:50%;/*가운데부터 시작이라 아래로 치우쳐져있어요*/
    left:50%; /*가운데부터 시작이라 오른쪽은 치우쳐져있어요*/
    transform: translate(-50%, -50%);/*이미지를 부모요소의 가운데*/
    z-index: 1;
    width: 300px; height: 300px;
    opacity: 0;
    transition:opacity linear 0.1s;
    pointer-events: none;
}
.navercorp.main .cont-shortcut .cont__item:hover .thumb-box{
  /* visibility: visible; /*10.23 삭제*/
   opacity: 1;
   animation: thumbBoxEffect 0.3s ease-in-out forwards;
}
.navercorp.main .cont-shortcut .cont__item .thumb-box img{
  transform: translate(100%, 0,0);
  /* .thumb-box 밖으로 이미지 밀어내기 위해서 */
}
.navercorp.main .cont-shortcut .cont__item:hover .thumb-box img{
  animation: thumbnailEffect 0.3s ease-in-out forwards;
}
.navercorp.main .cont-shortcut .cont__item:hover .ico-link:after{
  background-image: url(../img/common/ic-quicklink-black.png);
  background-color: #ff5f00;
}


@media (max-width:1919px){
  .navercorp.main .main-content__inner{
    max-width: 1900px;
  }
  .navercorp.main .cont-summary{
    padding:130px 40px 60px;
  }
  .navercorp.main .cont-summary .cont__area.type-b .cont__list{
    grid-template-rows: 334px 155px 155px;
  }
  .navercorp.main .cont-summary .news .thumb-box{
    height: 403px;
  }
  .navercorp.main .cont-summary .story .category{
    font-size: 12px;
    line-height: normal;
  }

  .navercorp.main .cont-summary .story .title{
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.5px;
  }
  .navercorp.main .cont-summary .stock .count{
    font-size: 34px;
    line-height: 42px;
    letter-spacing: normal;
    } 
    .navercorp.main .main-content__title{
      width: 287px;
    }

/**************
.cont-feature *
**************/
    .navercorp.main .cont-feature{
      padding:100px 0 100px 40px;
    }

/********************** 
*  .cont-shortcut     *
***********************/
.navercorp.main .cont-shortcut{
  padding:60px 40px 0;
}

}
/*@media (max-width:1919px)*/

@media (max-width:1599px){
  .container{
    padding-bottom: 140px;
  }
  .navercorp.main .main-content__inner{
    max-width: none;
    flex-direction: column;
  }
  .navercorp.main .cont-summary{
    padding:92px 30px 0;
  }
  .navercorp.main .cont__area{
    margin-top:24px
  }
  .navercorp.main .cont-summary .cont__list{
    gap:16px;
    grid-template-rows: unset;
    /* grid-template-columns: 40.171% 1fr 1fr; */
 }
 .navercorp.main .cont-summary .cont__area.type-b .cont__list{
  grid-template-rows: unset;
}
.navercorp.main .cont-summary .cont__area.type-b .cont__item {
  padding-top: 52.84%;
}

.navercorp.main .cont-summary .cont__area.type-b .news{
  padding-top: unset;
}

.navercorp.main .cont-summary .cont__area.type-b .story{
  padding-top:54.432%;
}

.navercorp.main .cont-summary .cont__link{
  position: absolute;
  top:0; left:0;
  width: 100%; height: 100%;
  padding: 12px 40px 12px 12px;
}

.navercorp.main .cont-summary .news .thumb-box{
  height: 59.213%;
}
.navercorp.main .cont-summary .cont__item .head{
   font-size: 10px;
   line-height: 16px;
   letter-spacing: -0.01px
}
.navercorp.main .cont-summary .cont__item .title {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.5px;
}
.navercorp.main .cont-summary .cont__item .outlink{
  right: 12px; bottom: 14px;
}
.navercorp.main .cont-summary .story .category{
  font-size: 10px;
}

.navercorp.main .cont-summary .story .title{
  font-size: 18px;
}
.navercorp.main .cont-summary .stock .count{
  font-size: 26px;
  line-height: 38px;
  letter-spacing: -0.8px;
  } 
  .navercorp.main .cont-summary .ir .title{
    margin-top: 2px;
  }
  .navercorp.main .main-content__title{
    width: 100%;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -1.2px;
  }
  .navercorp.main .main-content__title::after{
    content: none;/*after 무력화*/
  }
  /* .main-content__title의 .btn-arrow 의 위치 수정 */
  /* 기준요소 오른쪽 끝  기준요소의 바닥 */
  .navercorp.main .main-content__title .btn-arrow{
    left:auto; /*상위미디어 작성한 left를 무력화*/
    right:0; bottom:0;
    width: 32px ; height: 36px;
  }
  /**************
.cont-feature *
**************/
.navercorp.main .cont-feature{
  padding:120px 0;
}
.navercorp.main .cont-feature .main-content__title{
  padding:0 30px;
}
.navercorp.main .cont-feature .main-content__title strong br{
  /* ★★★스타일북, 룩북, 상세페이지에서 ★★  줄바꿈을 관리할 때 유용*/
  display: none;
}
.navercorp.main .cont-feature .cont__item{
  width: 300px;
  margin-left: 16px;
}
.navercorp.main .cont-feature .thumb-box .thumbnail{
  padding-top: 282px;
}
.navercorp.main .cont-feature .text-box .category{
  font-size: 12px;
}
.navercorp.main .cont-feature .text-box .title{
  margin-top: 36px;
  font-size: 26px;
  line-height: 38px;
  letter-spacing: -0.1px;
}
.navercorp.main .cont-feature .text-box .desc{
  font-size: 12px;
  line-height: 20px;
}
.navercorp.main .cont-feature .cont__area{
  padding: 0 30px;
  margin-top:40px;
}
/********************** 
*  .cont-shortcut     *
***********************/
.navercorp.main .cont-shortcut{
  padding:0 30px;
}
.navercorp.main .cont-shortcut .cont__area{
  margin-top: 60px;
}
.navercorp.main .cont-shortcut .cont__link{
  padding: 22px 0 25px;
}

}
/*@media (max-width:1599px)*/

@media (max-width:1023px){
  .navercorp.main .cont-summary{
    padding:110px 30px 0;
  }

  /*.cont-summary  */
  .navercorp.main .cont-summary .cont__list{
    gap:12px;
    grid-template-columns: 1fr 1fr;
 }
 .navercorp.main .cont-summary .cont__area.type-b .cont__list{
  grid-template-columns: repeat(2, 1fr);
}

.navercorp.main .cont-summary  .cont__item{
  padding-top:52.84%;
}

.navercorp.main .cont-summary .cont__area.type-b .news{
  grid-column: 1/3;
  grid-row: 1/2;
  padding-top: 103.25%;
}

.navercorp.main .cont-summary .cont__area.type-b .story{
  grid-column: 1/3;
  grid-row: 2/3;
  padding-top:54.52%;
}

.navercorp.main .cont-summary .cont__link{
  padding: 16px 40px 20px 16px;
}
.navercorp.main .cont-summary .news .thumb-box{
  height: 63.434%;
}
.navercorp.main .cont-summary .cont__item .head{
  font-size: 12px;
  line-height: 20px;
  letter-spacing: normal;
}
.navercorp.main .cont-summary .cont__item .title {
  font-size: 20px;
}
.navercorp.main .cont-summary .cont__item .outlink{
  right: 16px; bottom: 16px;
}
.navercorp.main .cont-summary .story .category{
  font-size: 12px;
}

.navercorp.main .cont-summary .stock .num-info{
  font-size: 12px;
}
.navercorp.main .cont-summary .ir .title{
  margin-top: 12px;
}

/**************
.cont-feature *
**************/
.navercorp.main .cont-feature{
  padding:120px 0 120px;
}
.navercorp.main .cont-feature .cont__item{
  width: 320px;
  margin-left: 12px;
}
.navercorp.main .cont-feature .thumb-box .thumbnail{
  padding-top: 301px;
}
.navercorp.main .cont-feature .text-box .title{
  margin-top: 48px;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: -0.1px;
}
.navercorp.main .cont-feature .cont__btn{
  display: none;
}
/********************** 
*  .cont-shortcut     *
***********************/
.navercorp.main .cont-shortcut .main-content__title{
  font-size: 30px;
  letter-spacing: -1px;
}
.navercorp.main .cont-shortcut .cont__area{
  margin-top: 55px;
}
.navercorp.main .cont-shortcut .cont__link{
  padding: 22px 0 25px;
}
.navercorp.main .cont-shortcut .cont__item .thumb-box{
  display: none;
}

}
/*@media (max-width:1023px)*/

@media (max-width:767px){
  .navercorp.main .cont-summary{
    padding:110px 20px 0;
  }
  .navercorp.main .cont-summary .cont__list{
    gap:12px 7px;
 }
 .navercorp.main .cont-summary  .cont__item{
  padding-top:100%;
}
.navercorp.main .cont-summary .cont__area.type-b .cont__item {
  padding-top: 100%;
}
.navercorp.main .cont-summary .cont__area.type-b .news{
  grid-column: 1/3;
  grid-row: 1/2;
  padding-top: 109vw;
}
.navercorp.main .cont-summary .cont__area.type-b .story{
  padding-top: 56.25%;
}
.navercorp.main .cont-summary .cont__area.type-b .ad{
  grid-column: 1/3;
  grid-row: 3/4;
  padding-top: 52.84%;
}
.navercorp.main .cont-summary .cont__area.type-b .recruit{
 order:4;
 grid-column: 1/3;
 grid-row: 4/5;
 padding-top: 52.84%;
}
.navercorp.main .cont-summary .cont__area.type-b .ir{
  order:5;
}
.navercorp.main .cont-summary .cont__link{
  padding: 16px 40px 20px 16px;
}
.navercorp.main .cont-summary .news .thumb-box{
  height: 64.434vw;
}
.navercorp.main .cont-summary .cont__item .title {
  font-size: 16px;
}
.navercorp.main .cont-summary .cont__item .outlink{
  display: none;
}
.navercorp.main .cont-summary .recruit .title{
  font-size: 20px;
  font-weight: 700;
}

.navercorp.main .cont-summary .stock .num-info{
  line-height: 26px;
}

.navercorp.main .cont-summary .stock .text-wrap{
  text-align: right;
}
.navercorp.main .cont-summary .stock .num-info::after{
  content: none;
}
.navercorp.main .main-content__title{
  font-size: 34px;
}

/**************
.cont-feature *
**************/
.navercorp.main .cont-feature{
  padding:120px 0;
}
.navercorp.main .cont-feature .main-content__title{
  padding:0 20px;
  font-size: 30px;
  letter-spacing: -1px;
}
.navercorp.main .cont-feature .thumb-box .thumbnail{
  padding-top: 300px;
}
.navercorp.main .cont-feature .cont__area{
  padding: 0 20px;
}
/********************** 
*  .cont-shortcut     *
***********************/
.navercorp.main .cont-shortcut{
  padding:0 20px;
}
.navercorp.main .cont-shortcut .cont__link{
  padding: 26px 4px 27px 0;
}

}
/*@media (max-width:767px)*/

@media (max-width:375px){
}
/*@media (max-width:375px)*/

@keyframes blink{
  0%{opacity: 1;}
  50%{opacity: 0;}
  100%{opacity: 1;}
}

@keyframes thumbBoxEffect {
   0%{ transform:translate(-150%, -50%)}
   100%{transform: translate(-50%, -50%);}
}

@keyframes thumbnailEffect{
   0%{transform: translate(100%,0);}
   100%{transform: translate(0,0);}
    /* .thumb-box 안으로 이미지 표시 */
}