html {
  --blackWhite: #fff;
  --default: #1d1d1f;
  --reverse: #fff;
  --background01: #fff;
  --background01Transparent: rgba(255, 255, 255, 0.8);
  --pageTitle: #1d1d1f;
  --secTitle: #1d1d1f;
  --transparent: #fff;
  --inputColor: #6e6e73;
  --inputBox: #e4e6ea;
  --searchBox: #e4e6ea;
  --searchTxt: #a1a1a6;
  --buttonType3: #1d1d1f;
  --buttonType3Border: #e4e6ea;
  --buttonType3Background: #f1f1f4;
  --secDesc: #bbbbbe;
  --border01: #e4e6ea;
  --border02: #cfcfcf;
  --border03: #e4e6ea;
  --border04: #1d1d1f;
  --border05: #d8d8d8;
  --border06: #e4e6ea;
  --point: #fff;
  --buttonDownlodBefore: #000;
  --listSub: #86868b;
  --relateContent: #fbfbfd;
  --buttonDownload: #1d1d1f;
  --accordionNum: #bbbbbe;
  --graphBar: #e0e0e0;
  --graphTitle: #444;
  --color-sub: #1d1d1f;
  --color-sub02: #1d1d1f;
  --color-sub03: #6e6e73;
  --color-sub04: #bbbbbe;
  --color-sub05: #444;
  --outlinkBg: #e8e8e8;
  --outlinkBg02: #1d1d1f;
  --outlinkBg03: #000;
  --outlinkBg04: #fff;
  --paginationBg: #1d1d1f;
  --bgColor: #f1f1f4;
  --bgColor02: #f6f7fb;
  --bgColor03: #f6f7fb;
  --tab-cta: #6e6e73;
  --tab-cta02: #bbbbbe;
  --box-text: #424245;
  --deleteBtn: #bbbbbe;
  --privacyBg: #f2f6ff;
  --privacyTxt: #86868b;
  --flowerBg: #ebf4ff;
  --halfNum: #e4e6ea;
  --flowerDesc: #a1a1a6;
  --newslistBg: #000;
  --newsDate: #86868b;
  --neswBtn: #1d1d1f;
  --pagination: #f1f1fb;
  --pagination-page-blind: #a1a1a6;
  --tableTopBorder: #111;
  --tbodyBorder: #ddd;
  --naverDesc: #dddee1;
  --numBg: #1d1d1f;
  --numColor: #ebecee;
  --selectbox: #fff;
  --storyCategory: #f1f1f4;
  --storyCategory02: #f1f1f4;
  --storyCategorytit: #dddee1;
  --storyDetailTxt: #424245;
  --pagination-bullet: #cececf;
  --placeHoler: #b5b5b5;
  --blackTit: #111;
  --black: #000;
  --detailColor: #2e2e2e;
  --yearColor: #707070;
  --scheduleColor: #424245;
  --radioBorder: #e5e7eb;
  --mainBg: #f1f1f3;
  --navRgba: rgba(29, 29, 31, 0.4);
  --btn-outlink: url(../img/common/btn-outlink.svg);
  --btn-outlink-sm: url(../img/common/btn-outlink-sm.svg);
  --ic-outlink02: url(../img/common/ic-outlink-black2.png);
  --ic-outlink03: url(../img/common/ic-outlink-black.png);
  --ic-accordion: url(../img/common/ic-accordion.png);
  --ic-accordion-close: url(../img/common/ic-accordion-close.png);
  --btn-circle-arrow-left: url(../img/common/btn-circle-arrow-left.png);
  --ic-back: url(../img/common/ic-back.png);
  --checkbox: url(../img/common/ic-checkbox.png);
  --esg-privacy-icon01: url(../img/pc/esg-privacy-icon01.png);
  --esg-privacy-icon02: url(../img/pc/esg-privacy-icon02.png);
  --esg-privacy-icon03: url(../img/pc/esg-privacy-icon03.png);
  --ic-search: url(../img/common/ic-search.png);
  --ic-pagination: url(../img/common/ic-pagination-arrow.png);
  --ic-pagination02: url(../img/common/ic-pagination-arrow-black.png);
  --ic-pagination03: url(../img/common/ic-pagination-arrow2.png);
  --ic-dropdown: url(../img/common/ic-dropdown.svg);
  --ic-download: url(../img/common/ic-download-black.png);
  --ic-download-w: url(../img/common/ic-download-white.png);
  --naver-contact-icon01: url(../img/pc/naver-contact-icon01.png);
  --naver-contact-icon02: url(../img/pc/naver-contact-icon02.png);
  --naver-contact-icon03: url(../img/pc/naver-contact-icon03.png);
  --ic-circle-close: url(../img/common/ic-circle-close.png);
  --ic-quicklink: url(../img/common/ic-quicklink-black.png);
  --ic-list: url(../img/common/ic-list.png);
  --ic-media-download: url(../img/common/ic-media-download-black.png);
  --ic-media-download02: url(../img/common/ic-media-download.png);
  --ic-search-tab: url(../img/common/ic-search-tab.svg);
  --ic-arrow-down: url(../img/common/ic-arrow-down-black.png);
  --ic-arrow-down-hover: url(../img/common/ic-arrow-down-hover.png);
  --ic-title-arrow: url(../img/common/ic-title-arrow.png);
  --ic-arrow-primary: url(../img/common/ic-arrow-primary.png);
  --ic-outlink-circle: url(../img/common/ic-outlink-circle.png);
  --logo: url(../img/common/logo.svg);
  --ic-nav-close: url(../img/common/ic-nav-close.svg);
  --ic-outlink-nav: url(../img/common/ic-outlink-black3.svg);
  --ic-lang-dropdown: url(../img/common/ic-lang-dropdown.png);
  --ic-cate-dropdown: url(../img/common/ic-cate-dropdown.png);
  --ic-search-delete: url(../img/common/ic-search-delete.png);
  --btn-share-link: url(../img/common/btn-share-link.svg);
}
