@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* RESET */
*{margin: 0; padding: 0;
box-sizing: border-box;}

.wrap{
  margin: 50px;
}

.card{
width: 300px;
border: 1px solid #efefef;
margin-bottom: 20px;
}
.card .card__thumbnail{
  /* background-color: #ff6; */
}
.card .card__thumbnail a{

}
.card .card__thumbnail a img{
  display: block;
  /* max-width: 100%; */
  width: 100%;
}

.card .card__description{
  padding: 1rem 0.8rem;
  background-color: #fff;
  font-family: "Noto Sans KR", sans-serif;
  border-top: 1px solid #efefef;
}
.card .card__description .card__title{
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 600;
}
.card .card__description .card__spec{
  
}