@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');


/* RESET */
*{margin: 0; padding: 0;}
ul,ol,li{list-style: none;}
/* 테스트용 */
body>div {margin: 50px;}

/* common */
body, code {
  font-size: 13px;
  font-family: Arial,"Apple SD Gothic Neo","Noto Sans KR","맑은 고딕","malgun gothic","돋움","dotum",sans-serif;
  color: #000;
  background: #fff;
}

/* product-listmain */
.ec-base-product{}
.ec-base-product .prdList{
  font-size: 0;
  line-height: 0;
}
.ec-base-product .prdList li{
  border: 1px solid #000; /*테스트용*/
  display: inline-block; /*li옆 다른 li를 오게하기 위해서*/
  font-size: 13px;
  line-height: 1;
}
/* 메인분류 상품 목록 단 처리 */
.ec-base-product .prdList.grid2 li{width: 50%;}
.ec-base-product .prdList.grid3 li{width: 33.33%;}
.ec-base-product .prdList.grid4 li{width: 25%;}
.ec-base-product .prdList.grid5 li{width: 20%;}

.ec-base-product .prdList .prdList__item{
  margin:0 10px;
}

.ec-base-product .prdList .thumbnail{
  border: 1px solid #f00;/*테 삭*/
  /*.ec-base-product .prdList .thumbnail .likeButton
   position: absolute;기준요소 가 되기 위해서
  */
  position: relative; 
}
.ec-base-product .prdList .thumbnail>a{}
.ec-base-product .prdList .thumbnail>a>img{
  width: 100%;
}
.ec-base-product .prdList .thumbnail .likeButton::before{
  content: "like";
  font-size: 12px;
  display: block;
  line-height: 1;
}

.ec-base-product .prdList .thumbnail .likeButton{
  border: 1px solid #00f; /*테 삭*/
  position: absolute; /*기준요소 설정 필요*/
  left: 4%; top: 4%;
  width: 40px; height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.ec-base-product .prdList .thumbnail .likeButton button{
  background-color: transparent;
  border: none;
}
.ec-base-product .prdList .thumbnail .likeButton img{
  display: none;
}
.ec-base-product .prdList .thumbnail .likeButton strong{
  display: block;
  cursor: pointer;
  font-weight: normal;
}
.ec-base-product .prdList .icon__box {
  position: absolute;
  border: 1px solid #0f0;
  left: 0; 
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.ec-base-product .prdList .icon__box >span {
  position: relative;
  border: 1px solid #999;
  font-weight: 500px;
  padding: 10px 15px;
  margin: 0 4px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}
.ec-base-product .prdList .icon__box >span.wish {}
.ec-base-product .prdList .icon__box >span.cart {}
.ec-base-product .prdList .icon__box >span.option {}
.ec-base-product .prdList .icon__box >span img {
  position: absolute;
  left: 0; top: 0; width: 100%; height: 100%;
  opacity: 0;
} 
.ec-base-product .prdList .icon__box >span.wish img{}
.ec-base-product .prdList .icon__box >span.cart img{}
.ec-base-product .prdList .icon__box >span.option img{}
